body {
    font-family: 'Inconsolata', monospace;
    display: flex;
    justify-content: center; 
    align-items: center;    
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    text-align: left;      
    width: fit-content;    
    max-width: 600px;      
}

h1 {
    margin-bottom: 5px;
}

.kotak-input {
    display: block;
    resize: none;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    margin: 15px 0;          
    border: 1px solid #ccc;
}

p > span {
    color: coral;
    font-weight: bold;
}

button {
    cursor: pointer;
    font-family: 'Inconsolata', monospace;
    padding: 5px 15px;
}

.grup-tg {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.mode-gelap {
    background-color: #171b25;
    color: #EBECF7;
}

.sepia-mode {
    background-color: #f4ecd8;
    color: #5b4636;
}
 
html.dark-mode .kotak-input {
    background-color: #2e3443;
    color: #ebecf7;
    border: 1px solid #555;
}

html.dark-mode body {
    background-color: #171b25;
    color: #ebecf7;
}
 
html.dark-mode button {
    background-color: #29ddcc;
    border: none;
    gap: 20px;
}

html.sepia-mode .kotak-input {
    background-color: #ffffff;
    color: #5b4636;
    border: 1px solid #b5a89a;
}

html.sepia-mode body {
    background-color: #f4ecd8;
    color: #5b4636;
}

html.sepia-mode button {
    background-color: #29ddcc;
    border: none;
    gap: 20px;
}

